hms_commerce.settings:
  type: config_object
  mapping:
    bestseller_url:
      label: 'Bestseller API URL'
      type: uri
    entitlement_group_name:
      label: 'Entitlement group name'
      type: string
    shared_secret_key:
      label: 'Shared secret key'
      type: string
    premium_content_error:
      label: 'Premium content error message'
      type: string
    newsletter_client_id:
      label: 'Newsletter client ID'
      type: string
    newsletter_origin:
      label: 'Newsletter origin'
      type: string
    newsletter_groups:
      label: 'Newsletter groups'
      type: sequence
      sequence:
        type: mapping
        mapping:
          id:
            label: 'ID'
            type: integer
          name:
            label: 'Name'
            type: string
      sequence:
        type: string
    show_contact_permission:
      label: 'Show contact permission'
      type: boolean
    show_privacy_permission:
      label: 'Show privacy permission'
      type: boolean

field.field_settings.premium_content:
  type: mapping
  label: 'Premium content field settings.'
  mapping:
    premium_fields:
      type: sequence
      label: 'Premium fields'
      sequence:
        type: string
    teaser_fields:
      type: sequence
      label: 'Teaser fields'
      sequence:
        type: string
