hms_commerce.settings:
  type: config_object
  mapping:
    bestseller_url:
      label: 'Bestseller API URL'
      type: string
    entitlement_group_name:
      label: 'Entitlement group name'
      type: string
    shared_secret_key:
      label: 'Shared secret key'
      type: string
    premium_content_error:
      label: 'Premium content error message'
      type: string
